@model E_Shop.Web.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/non-found.css")
<i id="err-icon" class="fa fa-exclamation-circle"></i>
<h1>@Model.ErrorMessage</h1>

