
@{
    ViewBag.Title = "404 Not Found";
}
@Styles.Render("~/Content/non-found.css")
<i id="err-icon" class="fa fa-exclamation-circle"></i>
<h1>404 Not Found!</h1>
<p>The file or directory you are looking for isn't here!</p>

